* {
    box-sizing: border-box;
}

.projects-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    max-width: 80rem;
    margin: auto;
}

.projects-gallery,
.projects-gallery.project-card {
    padding: 8px;

}

.project-card {
    /* float: left;
    width: 25%;
    margin: 0 auto; */

    transition: transform 0.3s ease;
    
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.project-title {
    background-color: #333;
    min-height: 100px;
    padding: 10px;
}

.project-title h3 {
    margin-top: -1px;
    padding: 0;
    margin-bottom: -5px;
}

.project-title p {
    font-size: 0.8rem;
    margin-bottom: -1px;
}

.projects-gallery:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1200px) {
    .projects-gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 9px;
    }
}

@media screen and (max-width: 900px) {
    .projects-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
    }
}

@media screen and (max-width: 640px) {
    .projects-gallery {
        grid-template-columns: 1fr;
        gap: 6px
    }
}