* {
    box-sizing: border-box;
}

.projects-gallery {
    max-width: 80rem;
    margin: auto;
}

.projects-gallery,
.projects-gallery>.project-card {
    padding: 8px;

}

.project-card {
    float: left;
    width: 25%;
    margin: 0 auto;

    transition: transform 0.3s ease;
}

.project-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.project-title {
    background-color: #333;
    min-height: 100px;
    padding: 10px;
}

.project-title h3 {
    margin-top: -1px;
    padding: 0;
    margin-bottom: -5px;
}

.project-title p {
    font-size: 0.8rem;
    margin-bottom: -1px;
}

.projects-gallery:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1200px) {
    .project-card {
        width: 33%;
    }
}

@media screen and (max-width: 900px) {
    .project-card {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .project-card {
        width: 100%;
    }
}