/* 
    1rem = 16px
    rems scale when font is changed
*/

body {
    margin: 0;
    background-color: #191919;
    color: #FFFFFF;
    font-family: Helvetica, Arial, Sans-Serif;
    /* height: 1000vh; */
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* a:hover {
    text-decoration: underline;
} */

h1 {
    font-size: 2rem;
    font: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #A5FFEE;
}

p {
    font-size: 1rem;
    color: #FFFFFF;
}

img {
    vertical-align: middle;
}

#page-container {
    position: relative;
    min-height: 100;
}

#content-wrap {
    padding-bottom: 4rem;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    text-decoration: none;
}

#top-nav {
    position: fixed;
}

#top-nav .icon {
    display: none;
}

#bottom-nav {
    margin-top: 10px;
}

#synopse {
    margin: 10px;
    text-align: center;
}

.main {
    margin-top: 64px;
    margin-left: 1rem;
    margin-right: 1rem;
}


.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    border: 1rem solid #191919;
}

/* .main {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
} */

/* Collapsibles */

.collapsible {
    background-color: #404040;
    color: #cfcece;
    cursor: pointer;
    padding: 32px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.collapsible p {
    color: #f1f1f1;
}

.active,
.collapsible:hover {
    background-color: #505050;
}

.collapsible-content {
    padding: 0 1.2rem;
    max-height: 0;
    overflow: hidden;
    background-color: #505050;
    transition: max-height 0.2s ease-out;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.collapsible-content img {
    border: 4px;
    /* border-radius: 0.5rem;  */
    margin-bottom: 1rem;
    display: block; 
    max-width: 75%; 
    height: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.collapsible-content p {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.collapsible::after {
    content: '\02795';
    font-size: 0.8rem;
    color: white;
    float: right;
    margin-left: 0.5rem;
}

.collapsible.active::after {
    content: '\2796';
}

.collapsible-content p {
    color: #f1f1f1;
}

.collapsible-content img {
    position: center;
}

.bar1,
.bar2,
.bar3 {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    margin: 0.4rem 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 0.64rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.64rem) rotate(45deg);
}

ul .posts {
    margin: 1.5rem auto 2.5px;
    font-size: 1.5rem;
}

ul .posts li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

video {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 80rem;

    display: block;
    margin: auto;
    height: auto;
}


button {
    color: #333b3a;
    background-color: #A5FFEE;
}

/* .Gallery {
    float: left;
    width: 65%;
    overflow: hidden;
}

.Breakdown {
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0);
} */

.content-pair {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    margin: 0 auto; /* Center the container */
    max-width: 80rem; /* Match the max-width of the video previews or iframe */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.photo-gallery {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 50vw;
    
    aspect-ratio: 16 / 9; /* Replace with the desired aspect ratio */
    height: auto;
    padding: 10px;
    overflow: hidden;

    display: flex;

    box-sizing: border-box;
    position: relative;
    
    justify-content: center;

}

.photo-gallery img, .photo-gallery video {
    max-width: 100%;
    height: auto;
    object-fit: cover;

    max-height: 100%; /* Ensures the image fits within the container */
    object-fit: contain; /* Maintains the aspect ratio without cropping */
}


.slides {
    display: none;
} 

.prev,
.next {
    cursor: point;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    margin-right: 5px;
    right: 0;
}

.prev {
    margin-left: 5px;
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: auto;
}

/* Photo 1/3 */
.numbertext {
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.breakdown {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.iframe-webgl {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}

.iframe-webgl iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 80rem;

    height: auto;
}

.iframe-hotbar {
    width: 100%;
    max-width: 80rem;
    min-height: 1.5rem;

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #505050;

    position: relative;
}

.iframe-hotbar button {
    margin-left: 5px;
}

.iframe-hotbar .right-button {
    margin-right: 5px;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 45rem) {
    /* #top-nav {
        padding: 10px 10px !important;
      } */

    #top-nav a {
        font-size: 2rem;
    }

    #top-nav a:not(:first-child) {
        display: none;
    }

    #top-nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 45rem) {

    /*#top-nav.responsive {position: relative;}*/
    #top-nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    #top-nav.responsive a:not(:first-child) {
        display: block;
        /* Show hidden links */
    }

    #top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 60rem) {
    .content-pair {

        flex-direction: column;
    }

    /* .photo-gallery {
        max-width: 100%;
        justify-self: center;
    } */

    .photo-gallery {
        max-width: 90%; /* Restrict width on smaller screens */
        margin: auto;   /* Center gallery on the screen */
    }

    .photo-gallery img {
        height: auto;
    }

    .breakdown {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .main {
        /* height: 1000px; */
        margin-top: 64px;
    }
}

@media screen and ((max-width: 60rem) and (max-height > max-width)) {
    .iframe-webgl {
        padding: 5px;
    }

    .iframe-webgl iframe {
        aspect-ratio: 4 / 3;
    }
}