<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- Links to scripts -->
    <!-- <script type="text/javascript" src="/scripts/Core.js" defer></script> -->
    <script type="text/javascript" src="/scripts/navbar.js" defer></script>
</head>

<body>
    <div id="page-container">
        <nav class="navbar" id="top-nav">
            <a href="/">Home</a>
            <!-- <a href="/aboutme.html">About Me</a>
            <a href="/blog.html">Blog</a> -->
            <a href="mailto:kaneadams.ka23@gmail.com">Email</a>
            <a href="https://github.com/KaneAdams-Dev" target="_blank">GitHub</a>
            <a href="https://www.youtube.com/channel/UCK9Jozfs4ThaKUh_O-RmPmw" target="_blank">YouTube</a>
            <a href="/docs/Kane_Adams_CV.pdf" download="KaneAdamsCV">Download CV</a>

            <a href="javascript:void(0);" class="icon" onclick="MenuIconClicked(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </a>
        </nav>

        <br>

        <main class="main">
            {{ content }}
        </main>

        <!-- <div class="navbar" id="bottom-nav">
            <a href="mailto:kaneadams.ka23@gmail.com">Email</a>
            <a href="https://github.com/KaneAdams-Dev" target="_blank">GitHub</a>
            <a href="https://www.youtube.com/channel/UCK9Jozfs4ThaKUh_O-RmPmw" target="_blank">YouTube</a>
            <a href="/docs/Kane_Adams_CV.pdf" download="KaneAdamsCV">Download CV</a>
        </div> -->
    </div>
</body>

</html>