<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- Link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/aboutme.html">About Me</a>
            <a href="/blog.html">Blog</a>
        </div>
        
        <div class="main">
            {{ content }}
        </div>

        <div class="bottomnav">
            <a href="mailto:kaneadams.ka23@gmail.com">Email</a>
            <a href="https://github.com/KaneAdams-Dev" target="_blank">GitHub</a>
            <a href="https://www.youtube.com/channel/UCK9Jozfs4ThaKUh_O-RmPmw" target="_blank">YouTube</a>
            <a href="/docs/Kane_Adams_CV.docx" download="KaneAdamsCV">Download CV</a>
        </div>
    </body>
</html>