<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript" src="/Scripts/Core.js"></script>
    </head>

    <body>
        <div class="topnav" id="topnavbar">
            <a href="/">Home</a>
            <a href="/aboutme.html">About Me</a>
            <a href="/blog.html">Blog</a>

            <a href="javascript:void(0);" class="icon" onclick="MenuIconClicked(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </a>
        </div>
        
        <div class="main">
            {{ content }}
        </div>

        <div class="bottomnav">
            <a href="mailto:kaneadams.ka23@gmail.com">Email</a>
            <a href="https://github.com/KaneAdams-Dev" target="_blank">GitHub</a>
            <a href="https://www.youtube.com/channel/UCK9Jozfs4ThaKUh_O-RmPmw" target="_blank">YouTube</a>
            <a href="/docs/Kane_Adams_CV.docx" download="KaneAdamsCV">Download CV</a>
        </div>
    </body>
</html>